/build/
/debug/
/dsPIC33-LowVoltageMC.mc3.bak2
/dsPIC33-LowVoltageMC.mc3.bak1
/dsPIC33-LowVoltageMC.mc3.bak0
/nbproject/private/
/nbproject/Makefile-local-default.mk
/nbproject/Makefile-default.mk
/nbproject/Makefile-variables.mk
/nbproject/Makefile-genesis.properties
/nbproject/Makefile-impl.mk
/dist/default/debug/
/defmplabxtrace.log
/defmplabxtrace.log.inx
/dist/
/queuelogs/
/dsPIC33CK_BLDC_Motor/